<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>

      <service name="WebService.WebService"
               behaviorConfiguration="serviceBehaviour">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/api"/>
          </baseAddresses>
        </host>

        <endpoint address="http://localhost:8001/api"
                  binding="webHttpBinding"
                  bindingConfiguration="primaryBinding"
                  contract="WebService.IWebService"
                  behaviorConfiguration="webHttp"/>

      </service>

    </services>

    <bindings>
      <webHttpBinding>
        <binding name="primaryBinding"
                 maxReceivedMessageSize="6000000"
                 maxBufferSize="6000000"
                 maxBufferPoolSize="12000000">

          <readerQuotas maxArrayLength="6000000"
                        maxStringContentLength="6000000" />
        </binding>
      </webHttpBinding>
    </bindings>


    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>



  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>